*.ckpt

*.egg-info

*.ipynb

*.log

*.model

*.pth

*.pyc

*.npy

*.ply

__pycache__/

src/pogs/sample_data/*

src/pogs/configs/__pycache__/*
src/pogs/data/__pycache__/*
src/pogs/data/utils/__pycache__/*
src/pogs/encoders/__pycache__/*

src/pogs/scripts/outputs/*

src/pogs/ur5_interface/ur5_interface/data/*
src/pogs/ur5_interface/ur5_interface/scripts/outputs/*
outputs/*

src/pogs/tracking/__pycache__/*
src/pogs/ur5_interface/ur5_interface/outputs/*
src/pogs/ur5_interface/ur5_interface/scripts/results/*

data/*
outputs/*
vlm_query/*
src/pogs/tracking/models/
*.mp4
*.ipynb
.vscode/
src/pogs/data/utils/datasets/
src/pogs/pogs/grasping/results
src/pogs/results
src/pogs/robot_description
# pixi environments
.pixi
*.egg-info

.claude/